@import "https://raw.githubusercontent.com/twbs/bootstrap/v3.3.7/less/bootstrap.less";
@import (css) url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=latin-ext');

@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-weight: 700;

@border-radius-base: 2px;
@border-radius-large: 3px;
@border-radius-small: 1px;

body {
    padding-top: @navbar-height + @line-height-computed;
}
