$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$border-radius: .125rem !default;
$border-radius-sm: .1rem !default;
$border-radius-lg: .15rem !default;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

body {
    padding-top: 49px;
}

//.page-header {
//
//    border-bottom: solid 1px $gray-300;
//    margin-bottom: 2rem;
//
//    h1 {
//        margin-top: 1rem;
//        margin-bottom: 1rem;
//    }
//}
//
//.caret-off::before {
//    display: none;
//}
//
//.caret-off::after {
//    display: none;
//}