<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <context:annotation-config/>
    <context:property-placeholder
            location="classpath:default.properties, file:${gitki.config}"
            ignore-resource-not-found="true"
    />

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="username" value="${gitki.db.username}"/>
        <property name="password" value="${gitki.db.password}"/>
        <property name="driverClassName" value="${gitki.db.driverClassName}"/>
        <property name="url" value="${gitki.db.url}"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceUnitName" value="gitkiPU"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="true"/>
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <security:http create-session="never" entry-point-ref="authenticationEntryPoint">
        <security:remember-me/>
        <security:csrf disabled="true"/>
        <security:intercept-url pattern="/**"/>
        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="userService">
            <security:password-encoder ref="passwordEncoder">
            </security:password-encoder>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="requestMappingService" class="net.dontdrinkandroot.gitki.service.markdown.DefaultRequestMappingRegistry">
        <property name="viewMappings">
            <map>
                <entry key="txt" value="net.dontdrinkandroot.gitki.wicket.page.file.view.TextViewPage"/>
                <entry key="csv" value="net.dontdrinkandroot.gitki.wicket.page.file.view.TextViewPage"/>
                <entry key="xml" value="net.dontdrinkandroot.gitki.wicket.page.file.view.TextViewPage"/>
                <entry key="properties" value="net.dontdrinkandroot.gitki.wicket.page.file.view.TextViewPage"/>
                <entry key="md" value="net.dontdrinkandroot.gitki.wicket.page.file.view.MarkdownViewPage"/>
                <entry key="jpg" value="net.dontdrinkandroot.gitki.wicket.page.file.view.ImageViewPage"/>
                <entry key="jpeg" value="net.dontdrinkandroot.gitki.wicket.page.file.view.ImageViewPage"/>
                <entry key="png" value="net.dontdrinkandroot.gitki.wicket.page.file.view.ImageViewPage"/>
                <entry key="gif" value="net.dontdrinkandroot.gitki.wicket.page.file.view.ImageViewPage"/>
            </map>
        </property>
        <property name="editMappings">
            <map>
                <entry key="txt" value="net.dontdrinkandroot.gitki.wicket.page.file.edit.TextEditPage"/>
                <entry key="csv" value="net.dontdrinkandroot.gitki.wicket.page.file.edit.TextEditPage"/>
                <entry key="xml" value="net.dontdrinkandroot.gitki.wicket.page.file.edit.TextEditPage"/>
                <entry key="properties" value="net.dontdrinkandroot.gitki.wicket.page.file.edit.TextEditPage"/>
                <entry key="md" value="net.dontdrinkandroot.gitki.wicket.page.file.edit.MarkdownEditPage"/>
            </map>
        </property>
    </bean>

    <bean id="wicketApplication" class="net.dontdrinkandroot.gitki.wicket.GitkiWebApplication">
    </bean>

    <bean id="gitService" class="net.dontdrinkandroot.gitki.service.git.DefaultGitService">
        <constructor-arg value="${gitki.repository}"/>
    </bean>

    <bean id="markdownService" class="net.dontdrinkandroot.gitki.service.markdown.DefaultMarkdownService">
    </bean>

    <bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </bean>

    <bean id="authenticationEntryPoint"
          class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg value="/login"/>
    </bean>

    <beans profile="test">
        <bean id="userService" class="net.dontdrinkandroot.gitki.service.user.JpaUserService">
            <constructor-arg ref="passwordEncoder"/>
        </bean>
    </beans>

</beans>
